{% extends "base.html" %}

{% block title %}
    Créer une critique - LITReview
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Créer une critique</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="headline">Titre de la critique</label>
            <input type="text" class="form-control" id="headline" name="headline" placeholder="Titre de la critique" required>
        </div>

        <div class="form-group mt-4">
            <label for="body">Description</label>
            <textarea class="form-control" id="body" name="body" rows="5" placeholder="Votre commentaire" required></textarea>
        </div>

        <div class="form-group mt-4">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>

        <div class="form-group mt-4">
            <label>Note</label>
            <div class="d-flex justify-content-between rating-group">
                {% for i in rating_range %}
                    <div>
                        <input type="radio" id="rating-{{ i }}" name="rating" value="{{ i }}" required>
                        <label for="rating-{{ i }}">{{ i }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Envoyer</button>
    </form>
</div>
{% endblock %}
