{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Connexion à LITRevu</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Génère automatiquement tous les champs du formulaire avec des balises <p> -->
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <a href="{% url 'signup' %}" class="btn btn-secondary">Pas encore inscrit ? S'inscrire</a>
</div>
{% endblock %}
