{% extends 'base.html' %}

{% load static %}  <!-- Ajout du load static pour charger les fichiers CSS -->

{% block head %}
<!-- Lien vers le fichier CSS spécifique au flux -->
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
<h1>Votre flux</h1>

<div class="flux-container">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'feed/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'feed/review_snippet.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
