<div class="review">
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <span style="font-weight: bold;">
            {% if post.user == request.user %}
                Vous avez publié une critique
            {% else %}
                {{ post.user.username }} a publié une critique
            {% endif %}
        </span>
        <span style="color: #000; font-size: 14px;">{{ post.time_created|date:"H:i, d M Y" }}</span>
    </div>

    <!-- Titre et note sur le même axe -->
    <div style="margin-bottom: 10px; display: flex; align-items: center;">
        <h2 style="font-size: 20px; font-weight: bold; margin: 0;">{{ post.headline }}</h2>
        <span style="margin: 0 10px;">-</span>
        <div style="font-size: 20px; color: #000;">
            {% for i in rating_range %}
                {% if i <= post.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <p style="font-size: 16px; color: #000; margin-top: 5px;">{{ post.body }}</p>

    <!-- Détails du ticket associé -->
    <div style="border: 1px solid black; padding: 10px; margin-top: 15px;">
        <p style="font-weight: bold; margin: 0;">
            Ticket - {{ post.ticket.user.username }}
        </p>
        <h3 style="font-size: 18px; font-weight: bold; margin-top: 5px;">{{ post.ticket.title }}</h3>
        {% if post.ticket.image %}
            <div style="margin-top: 10px;">
                <img src="{{ post.ticket.image.url }}" alt="Image du ticket associé" style="width: 94px; height: 150px; object-fit: contain; border-radius: 5px;">
            </div>
        {% endif %}
    </div>

    <!-- Bouton pour demander une critique -->
    <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
        {% if not post.has_user_reviewed %}
            <a href="{% url 'review-add' ticket_id=post.ticket.id %}" style="padding: 8px 15px; background-color: white; color: black; border-radius: 5px; text-decoration: none; border: 1px solid black;">Demander une critique</a>
        {% endif %}
    </div>
</div>
