{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}LITRevu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Page container -->
    <div class="page-border">
        <!-- Header container -->
        <div class="site-header-container">
            <header class="site-header">
                <div class="page-title">
                    <h2>{% block title %}Accueil{% endblock %}</h2>  <!-- Dynamic page title -->
                </div>
                <div class="navbar-wrapper">
                    <div class="navbar-container">
                        <!-- Centered title with black border -->
                        <h1 class="site-title"><a href="/">LITRevu</a></h1>
                        
                        <!-- Display links if the user is authenticated -->
                        {% if user.is_authenticated %}
                        <nav class="navbar-links">
                            <a href="{% url 'feed' %}">Flux</a>
                            <a href="{% url 'posts' %}">Posts</a>
                            <a href="{% url 'follows_list' %}">Abonnements</a>
                            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link navbar-link" style="padding: 0; background: none; border: none; color: inherit;">
                                    Se déconnecter
                                </button>
                            </form>
                        </nav>
                    {% endif %}
                    
                    </div>
                </div>
            </header>
        </div>

        <!-- Main content container -->
        <main class="main-container-wrapper">
            <div class="main-container">
                {% block content %}
                <!-- Main page content will be included here -->
                {% endblock %}
            </div>
        </main>
    </div>

    <!-- Footer inside page-border -->
    <div class="footer-container">
        <footer class="footer">
            <p>&copy; 2024 LITRevu</p>
        </footer>
    </div>
</body>
</html>
